@charset "UTF-8";
/*
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
/*================================================================
 site_default
================================================================*/
/*================================================================
 common_style
================================================================*/
section > h2 {
  font-size: 15px;
}

.wrap {
  width: auto;
  padding: 0;
  margin: 0 10px;
}

.sp{
  display: block !important;
}
.pc{
  display: none !important;
}

.all-wrap img {
  width: 100%;
  height: auto;
}

.globalnavi {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11%;
  z-index: 9999;
}

.globalnavi li {
  padding-left: 3%;
}

.globalnavi:before{
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) no-repeat;
  background-size: 100%;
}
.globalnavi.open {
  display: block;
  opacity: 1;
  animation-duration: 0.5s;
  animation-name: fade-in;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fade-in;
}
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
.navi-button.open {
  display: none;
}

@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.navi-button.open {
  display: none;
}

.globalnavi ul {
  padding: 9px 0;
}

.globalnavi li {
  width: 30%;
}

.globalnavi li:last-child {
  width: 60%;
}

.globalnavi li a {
  box-sizing: border-box;
  display: block;
  color: #fff;
  font-size: 0.8rem;
  line-height: 15px;
  height: 15px;
  text-align: center;
}

.globalnavi li a span {
  line-height: 50px;
}

.globalnavi li.current a {
  border-bottom: none;
  border-bottom: 1px solid #ccc;
  cursor: default;
}

.site-header .logo {
  padding: 12px 0;
  width: auto;
  text-align: center;
}

.site-header .logo img {
  width: auto;
  height: 25px;
}
.site-header {
  //position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  z-index: 900;
}

.site-header .navi-button {
  position: absolute;
  top: 10px;
  right: 2%;
  width: 40px;
  height: 38px;
  text-align: left;
}
.site-header .navi-button span {
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  margin-bottom: 8px;
}
.top {
  height: 322px;
}

.top:before {
  padding-top: 322px;
  background:url(../img/top_bg_sp.png) no-repeat center top;
  background-size: 100% 100%;
}

.top .mark {
  left: -5px;
  width: 13.5833%;
}
.top .wrap {
  padding-top: 15px;
}

.top img#ttl1 {
  top: 0;
  left: 3%;
  width: 14%;
}

.top img#ttl2 {
  top: 23%;
}

.top img#ttl3 {
  bottom: 8%;
  width: 38%;
}

.top h1 img {
  margin: 0 auto;
  width: 93%;
}
.top h1 {
  padding-bottom: 15px;
}
.top .bonus h3 {
  margin-bottom: 10px;
}
.top .bonus h3 img {
  width: 90%;
}
.top .bonus .text img {
  margin: 0 auto;
  width: 90%;
}
.top .bonus {
  padding-bottom: 10px;
}
.top .more h3 img {
  width: 100%;
}
.top .more h3 {
  padding-bottom: 9px;
}
.common-button .cap {
  padding-top: 2px;
}
.common-button .cap img {
  width: 30%;
}
.top {
  padding-bottom: 23px;
}

ul.tabs > li { width: 45%; height: 32px; }
ul.tabs li { margin: 0 1px 7px; }
ul.tabs a { font-size: 14px; line-height: 28px; }
ul.tabs a span { font-size: 10px; }
.site-footer .state {
  margin: 0 auto;
  padding-bottom: 15px;
  width: 80%;
}
.property div.tab .wrapper .g-map { display: none; }
.property-items { padding-left: 5px !important;
    padding-right: 5px !important; }
.property-items .upper-item #area {
  width: 86px;
  height: 18px;
  line-height: 18px;
  font-size: 10px;
}

.property-items .upper-item .num {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  font-style: oblique;
  padding-right: 4px;
}

.property-items .upper-item #access {
  font-size: 6px;
}

.property-items .upper-item #access span {
  font-size: 8.5px;
}

.property-items .lower-item {
  font-size: 1.9vw;
}

.property-items .lower-item a {
  color: #372d1b;
  border: solid 1px #372d1b;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
}

.property-items .lower-item img.point {
  width: 30px;
  padding: 3px 0;
}

.campagne .anotations {
  width: 93%;
  font-size: 10.5px;
  line-height: 22px;
}

.contacts > p {
  width: 93%;
  padding: 25px 3px;
  font-size: 8px;
}

.contacts > p span {
  font-size: 12px;
}

.contacts .bnr {
  width: 90%;
}

.site-footer .logo-copyrights {
  display: block;
  text-align: center;
}

.site-footer .logo-copyrights .fotter-logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 25px;
  width: 50%;
  padding-right: 0;
}

.site-footer .footer-links {
  margin: 0;
  padding-bottom: 15px;
  width: 100%;
}

.site-footer .footer-links li {
  display: block;
  margin-bottom: 1px;
  text-align: center;
  font-size: 10px;
}

.site-footer .footer-links li:after {
  display: none;
}

.site-footer .footer-links li a {
  display: block;
  padding: 12px 0;
  background: #e7e7e7;
}

.site-footer {
  padding: 10px 0 0;
}

.site-footer .wrap {
  padding: 10px 0 0;
  margin: 0;
}

.site-footer .copyright {
  background: transparent;
  color: #000;
  font-size: 7px;
}

.site-footer .footer-ttl {
  width: 80%;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.site-footer .logo-copyrights small {
  display: inline-block;
  font-size: 10px;
}

.page-top {
  right: 5px;
  bottom: 1%;
}
#bnr_area {
  width: 100%;
}
